@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --main-color: #027581;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

#sidebar-toggle {
    display: none;
}

.sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: var(--main-color);
    color: #efefef;
    padding: 1rem;
    overflow-y: auto;
    transition: width .5s;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 1rem;
}

.sidebar-menu {
    padding: 1rem;
}

#sidebar-toggle:checked ~ .sidebar {
    width: 60px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child {
    display: none;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li {
    display: flex;
    justify-content: center;
}

#sidebar-toggle:checked ~ .main-content {
    margin-left: 60px;
}

#sidebar-toggle:checked ~ .main-content header {
    left: 60px;
    width: calc(100% - 60px);
}

.sidebar li {
    margin-bottom: 1.2rem;
}

.sidebar a {
    color: #fff;
    font-size: .9rem;
}

.sidebar a span:last-child {
    padding-left: .6rem;
}

.main-content {
    position: relative;
    margin-left: 240px;
    transition: margin-left .5s;
}

.add-button a {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1rem;
    padding: 1rem;
    width: 260px;
    color: var(--main-color);
    font-weight: 500;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

header {
    position: fixed;
    left: 240px;
    top: 0;
    z-index: 100;
    width: calc(100% - 240px);
    background: #fff;
    height: 60px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-grey);
    transition: left .5s;
}

main {
    margin-top: 60px;
    background: #f1f4f9;
    min-height: 93vh;
    padding: 1rem 3rem;
}

.search-wrapper {
    display: flex;
    align-items: center;
}

.search-wrapper input {
    border: 0;
    outline: 0;
    padding: 1rem;
    height: 38px;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons span,
.social-icons div {
    margin-left: 1rem;
}

.social-icons div {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/Фото_Иванов.jpg);
    border-radius: 50%;
}

.dash-title {
    color: var(--color-dark);
    margin-bottom: 1rem;
}

.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
}

.card-single {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 5px;
}

.card-body {
    padding: 1.3rem 1rem;
    display: flex;
    align-items: center;
}

.card-body span {
    font-size: 1.5rem;
    color: #777;
    padding-right: 1.4rem;
}

.card-body h5 {
    color: var(--text-grey);
    font-size: 1rem;

}

.card-body h4 {
    color: var(--color-dark);
    font-size: 1.1rem;
    margin-top: .2rem;
}

.card-footer {
    padding: .2rem 1rem;
    background: #f9fafc;
}

.card-footer a {
    color: var(--main-color);
}

.recent {
    margin-top: 3rem;
}

.activity-grid {
    display: grid;
    grid-template-columns: 75% 25%;
    column-gap: 1.5rem;
}

.activity-card,
.summary-card,
.birthday-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.summary-card,
.birthday-card {
    margin-bottom: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.summary-card:last-child {
    margin-bottom: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.summary-single {
    padding: .78rem;
    display: flex;
    align-items: center;
}

.summary-single span {
    font-size: 1.5rem;
    color: #777;
    padding-right: 1rem;
}

.summary-single h5 {
    color: var(--color-dark);
    font-size: 1rem;
    margin-bottom: 0 !important;
}

.summary-single small {
    font-weight: 700;
    color: var(--text-grey);
}

.activity-card h3 {
    color: var(--text-grey);
    margin: 0 1rem;
}

.activity-card table {
    width: 100%;
    /* border: #027581; */
    border-collapse: collapse;

}

.activity-card thead {
    background: rgb(226, 223, 223);
    text-align: left;
}

.birthday-flex {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.birthday-flex:last-child {
    margin-bottom: 0;
}

.birthday-card {
    padding: 1rem;
}

.birthday-text {
    text-align: center;
}

.birthday-text button {
    background: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    padding: .3rem 1rem;
}

.birthday-image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 3px solid #efefef;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/Фото_Сидоров.jpg);
    margin-right: .8rem;
}

th, td {
    font-size: .9rem;
    padding: 1rem 1rem;
    color: var(--color-dark);
}

td {
    font-size: .85rem;
}

tbody tr:nth-child(even) {
    background: #efefef;
}

.badge {
    padding: .3rem 1rem;
    border-radius: 20px;
    font-weight: 700;
    color: var(--color-dark);
}

.badge.success {
    background: #7cddb3; /* Status color  */
}

.badge.warning {
    background: rgb(226, 215, 62);
}

.badge.fail {
    background: rgb(221, 149, 149);
}

.td-team {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-1 {
    background-image: url(img/Фото_Иванов.jpg);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.table-responsive {
    overflow-x: auto;
}

@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 60px;
        z-index: 150;
    }

    .sidebar .sidebar-header h3 span,
    .sidebar li span:last-child {
        display: none;
    }

    .sidebar .sidebar-header,
    .sidebar li {
        display: flex;
        justify-content: center;
    }

    .main-content {
        margin-left: 60px;
    }

    .main-content header {
        left: 60px;
        width: calc(100% - 60px);
    }

    #sidebar-toggle:checked ~ .sidebar {
        width: 240px;
    }

    #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
    #sidebar-toggle:checked ~ .sidebar li span:last-child {
        display: inline;
    }

    #sidebar-toggle:checked ~ .sidebar .sidebar-header {
        display: flex;
        justify-content: space-between;
    }

    #sidebar-toggle:checked ~ .sidebar li {
        display: block;
        justify-content: space-between;
    }

    #sidebar-toggle:checked ~ .main-content {
        margin-left: 60px;
    }

    #sidebar-toggle:checked ~ header {
        left: 60px;
    }
}

@media only screen and (max-width: 860px) {
    .dashboard-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-single {
        margin-bottom: 1rem;
    }

    .activity-grid {
        display: block;
    }

    .summary {
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .dashboard-cards {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 450px) {
    main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

nav .pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    align-items: center;
    font-size: 14px;
    color: var(--main-color);
}