body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #3c373e;
    font-weight: 300;

    text-align: center;
    position: center;
}

p {
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a, a:hover {
    text-decoration: none !important;
}

.content {
    padding: 7rem 0;
}

h2 {
    font-size: 20px;
    color: #fff;
}

.custom-table {
    min-width: 900px;
}

.custom-table thead tr, .custom-table thead th {
    padding-bottom: 30px;
    border-top: none;
    border-bottom: none !important;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.custom-table tbody th, .custom-table tbody td {
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
    border: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.custom-table tbody th small, .custom-table tbody td small {
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
}

.custom-table tbody th a, .custom-table tbody td a {
    color: rgba(255, 255, 255, 1);
}

.custom-table tbody th .more, .custom-table tbody td .more {
    color: rgba(255, 255, 255, 1);
    font-size: 11px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.custom-table tbody tr {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.custom-table tbody tr:hover td, .custom-table tbody tr:focus td {
    color: #fff;
}

.custom-table tbody tr:hover td a, .custom-table tbody tr:focus td a {
    color: #fdd114;
}

.custom-table tbody tr:hover td .more, .custom-table tbody tr:focus td .more {
    color: #fdd114;
}

.custom-table .td-box-wrap {
    padding: 0;
}

.custom-table .box {
    background: #fff;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.custom-table .box td, .custom-table .box th {
    border: none !important;
}




/* ============================
             HEADER
   =============================*/
.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px; /* внутренний отступ */

    border-bottom: 1px solid #f3e0f3;
}

/* ============================
             NAVIGATION
   =============================*/
.nav {
    display: flex;

    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 50px;

    color: #61929d;
    text-decoration: none;

    opacity: .75;
    transition: linear .15s ;
}

.nav__link:first-child {
    margin-left: 0px;
}

.nav__link:hover {
    opacity: 1;
}

/* ============================
             BACKGROUND
   =============================*/
.intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 175px;
    height: 750px;
    justify-content: center;

    color: #48676f;

    background: url("../static/images/pexels-eberhard-grossgasteiger-1367179.jpg") no-repeat center / cover;
}

.intro__title {
    margin: 0 0 30px; /* Внещний отступ */
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;

    line-height: 1.2;

    text-transform: uppercase;
}

.intro_inner {
    width: 100%;
    max-width: 970px;

    margin: 0 auto;
}

.intro__subtitle {
    margin-bottom: 60px;

    color: #48676f;

    font-size: 22px;
    font-weight: 400;

    line-height: 1.5;
}