<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="admin-style.css" th:href="@{admin-style.css}">
</head>

<body>

<input type="checkbox" id="sidebar-toggle">
<div class="sidebar">
    <div class="sidebar-header">
        <h3 class="brand">
            <span class="ti-unlink"></span>
            <span>Админ</span>
        </h3>
        <label for="sidebar-toggle" class="ti-menu-alt"></label>
    </div>

    <div class="sidebar-menu">
        <ul>
            <li>
                <a th:href="@{/admin}">
                    <span class="ti-home"></span>
                    <span>Домашняя</span>
                </a>
            </li>
            <li>
                <a th:href="@{/employees}">
                    <span class="ti-face-smile"></span>
                    <span>Сотрудники</span>
                </a>
            </li>
            <li>
                <a th:href="@{/agents}">
                    <span class="ti-face-sad"></span>
                    <span>Агенты</span>
                </a>
            </li>
            <li>
                <a th:href="@{/clients}">
                    <span class="ti-money"></span>
                    <span>Клиенты</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="ti-agenda"></span>
                    <span>Список напоминаний</span>
                </a>
            </li>
            <li>
                <a th:href="@{/logout}">
                    <span class="ti-power-off"></span>
                    <span>Выйти</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="main-content">

    <header>
        <div class="search-wrapper">
            <span class="ti-search"></span>
            <input type="search" name="" id="" placeholder="Search">
        </div>

        <div class="social-icons">
            <span class="ti-bell"></span>
            <span class="ti-comment"></span>
            <!--profile-->
        </div>
    </header>

    <main>

        <h2 class="dash-title">Общая информация (не доработано)</h2>
        <div class="dashboard-cards">
            <div class="card-single">
                <div class="card-body">
                    <span class="ti-briefcase"></span>
                    <div>
                        <h5>Прибыль</h5>
                        <h4>$30,214</h4>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="">Смотреть всё</a>
                </div>
            </div>

            <div class="card-single">
                <div class="card-body">
                    <span class="ti-reload"></span>
                    <div>
                        <h5>Траты</h5>
                        <h4>$20,214</h4>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="">Смотреть всё</a>
                </div>
            </div>

            <div class="card-single">
                <div class="card-body">
                    <span class="ti-check-box"></span>
                    <div>
                        <h5>Обработано</h5>
                        <h4>$10,000</h4>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="">Смотреть всё</a>
                </div>
            </div>
        </div>

        <section class="recent">
            <div class="activity-grid">
                <div class="activity-card">
                    <h3>Последняя активность</h3>

                    <div class="table-responsive">
                        <table>
                            <thead>
                            <tr>
                                <th>Проект</th>
                                <th>Начало работы</th>
                                <th>Конец работы</th>
                                <th>Сотрудник</th>
                                <th>Статус</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Разработка приложения</td>
                                <td>Какая-то дата</td>
                                <td>Какая-то дата</td>
                                <td class="td-team">
                                    <div class="img-1"></div>
                                </td>
                                <td>
                                    <span class="badge success">Оплачено</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Разработка приложения</td>
                                <td>Какая-то дата</td>
                                <td>Какая-то дата</td>
                                <td class="td-team">
                                    <div class="img-1"></div>
                                </td>
                                <td>
                                    <span class="badge success">Оплачено</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Разработка приложения</td>
                                <td>Какая-то дата</td>
                                <td>Какая-то дата</td>
                                <td class="td-team">
                                    <div class="img-1"></div>
                                </td>
                                <td>
                                    <span class="badge warning">Ожидание</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Разработка приложения</td>
                                <td>Какая-то дата</td>
                                <td>Какая-то дата</td>
                                <td class="td-team">
                                    <div class="img-1"></div>
                                </td>
                                <td>
                                    <span class="badge fail">Отмена</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Разработка приложения</td>
                                <td>Какая-то дата</td>
                                <td>Какая-то дата</td>
                                <td class="td-team">
                                    <div class="img-1"></div>
                                </td>
                                <td>
                                    <span class="badge success">Оплачено</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="summary">
                    <div class="summary-card">
                        <div class="summary-single">
                            <span class="ti-face-smile"></span>
                            <div>
                                <h5 th:text="${clientCount}"></h5>
                                <small>Количество клиентов</small>
                            </div>
                        </div>
                        <div class="summary-single">
                            <span class="ti-id-badge"></span>
                            <div>
                                <h5 th:text="${employeeCount}"></h5>
                                <small>Количество сотрудников</small>
                            </div>
                        </div>
                        <div class="summary-single">
                            <span class="ti-calendar"></span>
                            <div>
                                <h5>11</h5>
                                <small>Дней до дедлайна</small>
                            </div>
                        </div>
                    </div>
                    <div class="birthday-card">
                        <div class="birthday-flex">
                            <div class="birthday-image"></div>
                            <div class="birthday-info">
                                <h5>Какой-то сотрудник</h5>
                                <small>День рождения</small>
                            </div>
                        </div>
                        <div class="birthday-text">
                            <button>
                                <span class="ti-gift"></span>
                                Отправить подарок
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

</div>

</body>

</html>