<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="admin-style.css" th:href="@{admin-style.css}">
</head>

<body>

<input type="checkbox" id="sidebar-toggle">
<div class="sidebar">
    <div class="sidebar-header">
        <h3 class="brand">
            <span class="ti-unlink"></span>
            <span>Админ</span>
        </h3>
        <label for="sidebar-toggle" class="ti-menu-alt"></label>
    </div>

    <div class="sidebar-menu">
        <ul>
            <li>
                <a th:href="@{/admin}">
                    <span class="ti-home"></span>
                    <span>Домашняя</span>
                </a>
            </li>
            <li>
                <a th:href="@{/employees}">
                    <span class="ti-face-smile"></span>
                    <span>Сотрудники</span>
                </a>
            </li>
            <li>
                <a th:href="@{/agents}">
                    <span class="ti-face-sad"></span>
                    <span>Агенты</span>
                </a>
            </li>
            <li>
                <a th:href="@{/clients}">
                    <span class="ti-money"></span>
                    <span>Клиенты</span>
                </a>
            </li>
            <li>
                <a href="" disabled="">
                    <span class="ti-agenda"></span>
                    <span>Список напоминаний</span>
                </a>
            </li>
            <li>
                <a th:href="@{/logout}">
                    <span class="ti-power-off"></span>
                    <span>Выйти</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="main-content">

    <header>
        <div class="search-wrapper">
            <span class="ti-search"></span>
            <input type="search" name="" id="" placeholder="Search">
        </div>

        <div class="social-icons">
            <span class="ti-bell"></span>
            <span class="ti-comment"></span>
            <div></div>
            <!--profile-->
        </div>
    </header>

    <main>
        <!-- <div class="activity-grid"> -->
        <div class="activity-card">
            <h3>Список сотрудников</h3>

            <div class="table-responsive">
                <table>
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Organization</th>
                        <th scope="col">Vacancy</th>
                        <th scope="col">Birth date</th>
                        <th scope="col">Email</th>
                        <th scope="col">Operation</th>
                        <th scope="col">Photo</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr scope="row" th:each="employee : ${employees.getPage()}">
                        <td th:text="${employee.id}"></td>
                        <td th:text="${employee.fullName}"></td>
                        <td th:text="${employee.organization}"></td>
                        <td th:text="${employee.role}"></td>
                        <td th:text="${employee.getBirthDate()}"></td>
                        <td th:text="${employee.email}"></td>
                        <td>
                            <div class="shit">
                                <a th:href="@{/delete-employee/{id}(id=${employee.id})}">
                                    <span class="ti-eraser"></span>
                                </a>
                                <a th:href="@{/update-employee/{id}(id=${employee.id})}">
                                    <span class="ti-pencil"></span>
                                </a>
                                <a th:href="@{/employee/{id}(id=${employee.id})}">
                                    <span class="ti-link"></span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <a th:href="${employee.photoLink}" th:title="Скачать">
                                <img th:src="${employee.photoLink}" alt="NOT TODAY" width="64" height="64"/>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <nav aria-label="Page navigation" class="pagination">
                    <ul class="pagination" th:if="${employees.page.totalPages > 1}">
                        <li class="page-item" th:classappend="${!employees.paging.isPrevEnabled()? 'disabled' : ''}">
                            <a class="page-link" th:href="@{'?pageNumber=' + ${employees.paging.pageNumber - 1}}"
                               th:method="POST"
                               tabindex="-1">
                                <
                            </a>
                        </li>
                        <th:block th:each="item : ${employees.paging.getItems()}">
                            <li class="page-item"
                                th:classappend="${item.index == employees.paging.pageNumber? 'active' : ''}"
                                th:if="${item.pageItemType.name() == 'PAGE'}">
                                <a class="page-link" th:href="@{'?pageNumber=' + ${item.index}}"
                                   th:method="POST"
                                   th:text="${item.index}"></a>
                            </li>
                            <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                                <a class="page-link" href="#">...</a>
                            </li>
                        </th:block>
                        <li class="page-item" th:classappend="${!employees.paging.isNextEnabled()? 'disabled' : ''}">
                            <a class="page-link" th:href="@{'?pageNumber=' + ${employees.paging.pageNumber + 1}}"
                               th:method="POST">
                                >
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="add-button">
            <a th:href="@{/create-employee}">Добавить нового сотрудника</a>
        </div>
    </main>
</div>
</body>

</html>