<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager Panel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="admin-style.css" th:href="@{admin-style.css}">
</head>

<body>

<input type="checkbox" id="sidebar-toggle">
<div class="sidebar">
    <div class="sidebar-header">
        <h3 class="brand">
            <span class="ti-unlink"></span>
            <span>Менеджер</span>
        </h3>
        <label for="sidebar-toggle" class="ti-menu-alt"></label>
    </div>

    <div class="sidebar-menu">
        <ul>
            <li>
                <a th:href="@{/manager}">
                    <span class="ti-home"></span>
                    <span>Домашняя</span>
                </a>
            </li>
            <li>
                <a th:href="@{/agreements}">
                    <span class="ti-clipboard"></span>
                    <span>Соглашения</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="ti-agenda"></span>
                    <span>Список напоминаний</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="ti-folder"></span>
                    <span>Projects</span>
                </a>
            </li>
            <li>
                <a th:href="@{/logout}">
                    <span class="ti-power-off"></span>
                    <span>Профиль</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="main-content">

    <header>
        <div class="search-wrapper">
            <span class="ti-search"></span>
            <input type="search" name="" id="" placeholder="Search">
        </div>

        <div class="social-icons">
            <span class="ti-bell"></span>
            <span class="ti-comment"></span>
            <div></div>
            <!--profile-->
        </div>
    </header>

    <main>
        <div class="activity-grid">
            <div class="activity-card">
                <h3>Последняя активность (не доработано)</h3>

                <div class="table-responsive">
                    <table>
                        <thead>
                        <tr>
                            <th>Соглашение</th>
                            <th>Дата подписания</th>
                            <th>Сотрудник</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Разработка приложения</td>
                            <td>Какая-то дата</td>
                            <td>Какой-то сотрудник</td>
                            <td>
                                <span class="badge success">Оплачено</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Разработка приложения</td>
                            <td>Какая-то дата</td>
                            <td>Какой-то сотрудник</td>
                            <td>
                                <span class="badge success">Оплачено</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Разработка приложения</td>
                            <td>Какая-то дата</td>
                            <td>Какой-то сотрудник</td>
                            <td>
                                <span class="badge warning">Ожидание</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Разработка приложения</td>
                            <td>Какая-то дата</td>
                            <td>Какой-то сотрудник</td>
                            <td>
                                <span class="badge fail">Отмена</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Разработка приложения</td>
                            <td>Какая-то дата</td>
                            <td>Какой-то сотрудник</td>
                            <td>
                                <span class="badge success">Оплачено</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="summary">
                <div class="summary-card">
                    <div class="summary-single">
                        <span class="ti-id-badge"></span>
                        <div>
                            <h5>9</h5>
                            <small>Количество клиентов</small>
                        </div>
                    </div>
                    <div class="summary-single">
                        <span class="ti-calendar"></span>
                        <div>
                            <h5>129</h5>
                            <small>Количество соглашений</small>
                        </div>
                    </div>
                    <div class="summary-single">
                        <span class="ti-face-smile"></span>
                        <div>
                            <h5>40</h5>
                            <small>Дней до дедлайна</small>
                        </div>
                    </div>
                </div>

                <div class="birthday-card">
                    <div class="birthday-flex">
                        <div class="birthday-image"></div>
                        <div class="birthday-info">
                            <h5>Какой-то сотрудник</h5>
                            <small>День рождения</small>
                        </div>
                    </div>

                    <div class="birthday-text">
                        <button>
                            <span class="ti-gift"></span>
                            Отправить подарок
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>

</html>