<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="admin-style.css" th:href="@{admin-style.css}">
</head>

<body>

<input type="checkbox" id="sidebar-toggle">
<div class="sidebar">
    <div class="sidebar-header">
        <h3 class="brand">
            <span class="ti-home"></span>
            <span>Главная</span>
        </h3>
        <label for="sidebar-toggle" class="ti-menu-alt"></label>
    </div>

    <div class="sidebar-menu">
        <ul>
            <li>
                <a th:href="@{/admin}">
                    <span class="ti-server"></span>
                    <span>Админ</span>
                </a>
            </li>
            <li>
                <a th:href="@{/manager}">
                    <span class="ti-face-smile"></span>
                    <span>Менеджер</span>
                </a>
            </li>
            <li>
                <a th:href="@{/agent}">
                    <span class="ti-face-sad"></span>
                    <span>Агент</span>
                </a>
            </li>
            <li>
                <a th:href="@{/accountant}">
                    <span class="ti-money"></span>
                    <span>Бухгалтер</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="main-content">

    <header>

    </header>

    <main>
        <div class="activity-grid">
            <div class="activity-card">
                <h3>Последняя активность</h3>

                <div class="table-responsive">
                    <table>
                        <thead>
                        <tr>
                            <th>Я ничего не придумал</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

</body>
</html>